@define-color text rgba(205, 214, 244, 1.0);
@define-color hover rgba(255, 255, 255, 0.1);
@define-color activeWorkspace rgba(116, 199, 236, 0.5);
@define-color background rgba(17, 17, 27, 0.5);
@define-color urgent rgba(230, 69, 83, 0.5);

* {
    border: none;
    border-radius: 0.2rem;
    font-family: "FiraCode Nerd Font Mono SemBd";
    font-size: 1rem;
    min-height: 0.5rem;
}

window#waybar {
    background: @background;
    color: @text;
}

tooltip {
    background: @background;
    border: 0.1rem solid @text;
}

tooltip label {
    color: @text;
}

.modules-left,
.modules-center,
.modules-right {
    padding: 0 0.5rem;
    background: @background;
}

.modules-right {
}

#workspaces button {
    background: transparent;
    color: @text;
    transition: background 0.3s ease;
}

#workspaces button.active {
    background: @activeWorkspace;
}

#workspaces button:hover {
    background: @hover;
}

#workspaces button.urgent {
    background: @urgent;
}

#idle_inhibitor.activated {
    color: @urgent;
}

/* #battery {
    background-color: #ffffff;
    color: black;
    } */

/* #battery.charging {
        color: white;
        background-color: palevioletred;
    } */

/* #battery.warning:not(.charging) {
        background: #f53c3c;
        color: white;
        animation-name: blink;
        animation-duration: 0.5s;
        animation-timing-function: steps(12);
        animation-iteration-count: infinite;
        animation-direction: alternate;
    } */
